---
import Layout from "../layouts/Layout.astro";
import "../globals.css"
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('./posts/*.md');
const data = [
    {
        title:'My Astro Learning Blog',
        date:"July 2, 2024",
        description:"My Astro Learning Blog",
        Button:"Read more"
    },
    {
        title:'My Second Blog Post',
        date:"June 26, 2024",
        description:" After a successful first week learning Astro, I decided to try some more. I wrote and imported a small component from memory!",
        Button:"Read more"
    },
    {
        title:'My Third Blog Post',
        date:"June 25, 2024",
        description:" I had some challenges, but asking in the community really helped!",
        Button:"Read more"
    }
]
---
<Layout title="Blog Posts">
    <main class="container">
        {
            allPosts.map((blog,index)=><BlogPost data={data} index={index} blog={blog}/>)
        }
    </main>
</Layout>
<style>
    .container {
        padding: 3.5rem;
    }
</style>